@section Styles {
    <link rel="stylesheet" href="~/css/categoria.css" asp-append-version="true" />
}
@{
    ViewData["Title"] = "Index";
}
<!-- Modal -->
<div class="modal fade" id="ModalCategoria" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <i class="fa-solid fa-tag"></i><h1 id="h1Categoria" class="modal-title fs-5 ">Crear Categoría</h1>
        <input type="Hidden" id="Id" type="number" value="0" disabled/>
        <button type="button" class="btn-close cerrar-modal" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
         <div id="form-categoria" class="form-group">
                <p class="modalnombre"><i class="fa-solid fa-file-signature"></i> Nombre</p>
                <input name="Nombre" class="form-control" autocomplete="off" id="textoInput"/>
                <span class="text-danger" id="lbl-error"></span>
            </div>
      </div>
      <div class="modal-footer">
          <button id="btn-crear" onclick="GuardarCategoria()"type="button" class="btn botones-modals btn-centrado"></button>
        <input id="btnEliminar" type="button" onclick="eliminarCategoria()" class="btn botones-modals" value="Deshabilitar" />
        <input id="btnHabilitar" type="button" onclick="eliminarCategoria()" class="btn botones-modals" value="Habilitar" />
      </div>
    </div>
  </div>
</div>

 <div class="waviy">
   <span style="--i:1">C</span>
   <span style="--i:2">A</span>
   <span style="--i:3">T</span>
   <span style="--i:4">E</span>
   <span style="--i:5">G</span>
   <span style="--i:6">O</span>
   <span style="--i:7">R</span>
   <span style="--i:8">I</span>
   <span style="--i:9">A</span>
   <span style="--i:10">S</span>
  </div>

<div class="divcolor container w-90  mt-5 rounded shadow"> 

<div class="row align-items-stretch justify-content-center box-shadowTable">
<p class="createbutton1">
<button type="button" class="createbutton" onclick="CrearNueva()">Crear Nueva</button>
</p>

    <div class="divtable col bg  d-lg-block">
        <table class="table text-white">
            <thead>
                <tr>
                <th class="name"><i class="fa-solid fa-file-signature"></i> Nombre</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="tbody-categorias">
                <h1 id="errorTable"></h1>
            </tbody>

              <div class="d-flex align-items-center justify-content-end">
                <button id="PaginaAnterior" class="mx-2">Anterior</button>
                <h1 id="PaginaActiva" class="mx-2 text-white"></h1>
                <button id="PaginaSiguiente" class="mx-2">Siguiente</button>
              </div>
              <div class="d-flex align-items-center mb-3 justify-content-start">
                <label for="NombreCategoria" class="mx-2 text-white">Buscar por Nombre
                  <input onchange="BuscarCategoriaPorNombre()" id="NombreCategoria" type="text">
                </label>
                <button>Buscar</button>
              </div>
        </table>
    </div>
</div>


@section Scripts {
    <script src="~/js/categoria.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/sweetalert.js"></script>
}