
@{
    ViewData["Title"] = "Index";
}
<!-- Modal -->
<div class="modal fade" id="ModalCategoria" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 id="h1Categoria" class="modal-title fs-5">Crear Categoria</h1>
        <input type="Hidden" id="Id" type="number" value="0" disabled/>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
         <div id="form-categoria" class="form-group">
                <label class="control-label">Nombre</label>
                <input name="Nombre" class="form-control" autocomplete="off" onkeyup="this.value = this.value.toUpperCase()"/>
                <span class="text-danger" id="lbl-error"></span>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button id="btn-crear" onclick="GuardarCategoria()"type="button" class="btn btn-crear">Crear</button>
      </div>
    </div>
  </div>
</div>

<h1 class="text-center categoriah1">Categorias</h1>
<div class="divcolor container w-90  mt-5 rounded shadow"> 

<div class="row align-items-stretch justify-content-center box-shadowTable rounded">
        

    <p class="text-white"> 
        <button type="button" class="colorh2 box-shadowBtn" onclick="CrearNueva()">Crear Nueva</button>
    </p>
    <div class="divtable col bg d-none d-lg-block rounded">
        <table class="table text-white">
            <thead>
                <tr>
                    <th>
                        Nombre
                    </th>
                </tr>
            </thead>
            <tbody id="tbody-categorias">
                <h1 id="errorTable"></h1>
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/categoria.js"></script>
}