@model IEnumerable<ElRinconDeLaCopa.Models.Producto>
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@section Styles {
    <link rel="stylesheet" href="~/css/catalogo.css" asp-append-version="true" />
}
@{
    ViewData["Title"] = "Catalogo";
}

<div class="modal fade" id="ModalCarrito" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 id="h1Producto" class="modal-title fs-5">C A R R I T O</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="CarritoProductos">
                <div id="Cart-Contain">
                </div>
                <h1 id="Total" class="cantidadcarrito"></h1>
            </div>
            <div class="modal-body" id="CarritoForm">
                <div id="Form-Contain">
                    <form class="form-group">
                        <span style="color: white;">Completar campos obligatorios(*)</span> <br>
                        <label class="modalnombre2">Calle*</label>
                        <input id="Calle" class="form-control" type="text">
                        <label class="modalnombre2">Numero*</label>
                        <input id="Numero" class="form-control" type="number">
                        <label class="modalnombre2">N° Departamento</label>
                        <input id="Depto" class="form-control" type="number"></input>
                        @* <input type="checkbox"><label class="modalnombre2" >guardar datos</label> *@
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button id="Guardarstock" class="btn botones-modals"
                    onclick="CompletePurchaseProduct()">Siguiente</button>
                <button id="GuardarCompra" class="btn botones-modals" onclick="CompletePurchase()">Comprar</button>
                <button type="button" class="btn botones-modals" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@if (@User.IsInRole("Usuario") || @User.IsInRole("Cliente"))
{
    <aside class="Carrito" id="cart">
        <button onclick="MostrarPedido()"><i class="fa-solid fa-cart-shopping"></i>
            <span id="Cart"></span>
        </button>
    </aside>
}
<section   class="cards catalogo m-0">
    <header class="H1Catalogo">
        <h1>Catalgo</h1>
    </header>
    <main id="catalogo">
        <article class="ArticuloCategoria">
            <header id="HeaderCategoria">
                <h2>WHISKY</h2>
            </header>
            <main class="Cards">
                <div class="Article">
                    @* <div class="card mx-auto">
                        <img src="/img/productos/fotodefaullt.jpg" class="card-img-top" alt="Foto por defecto" />
                        <div class="card-body">
                            <h5 class="card-title">Red Label</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Precio: <b>$18000</b></li>
                            <li class="list-group-item">Whisky</li <li class="list-group-item text-center"><a
                                onClick="AgregarAlPedido(${producto.id})" class="btn btn-marron"><i
                                    class="fa-solid fa-cart-plus"></i></a></li>
                        </ul>
                    </div> *@
                </div>
            </main>
            <footer>
                <p class="text-center">
                    Mas Productos <br>
                <i class="fa-solid fa-angles-down"></i>
                </p>
            </footer>
        </article>
    </main>
    
</section>

@section Scripts {
    <script src="~/js/catalogo.js"></script>
    <script src="~/js/pedidos.js"></script>

}