@model IEnumerable<ElRinconDeLaCopa.Models.Producto>

@{
    ViewData["Title"] = "Catalogo";
}
<div class="cards catalogo m-0">
    <div class="card m-1">
        <img src="~/img/productos/cerveza.jfif" class="card-img-top" alt="Cerveza Bramia">
        <div class="card-body">
            <h5 class="card-title">Cerveza Bramia</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Precio: <b>$750</b></li>
            <li class="list-group-item">Fermentadas</li>
            <li class="list-group-item text-center"><a class="btn btn-marron"><i class="fa-solid fa-cart-plus"></i></a></li>
        </ul>
    </div>
    <div class="card m-1">
        <img src="~/img/productos/Fernet menta.jfif" class="card-img-top" alt="Fernet Menta">
        <div class="card-body">
            <h5 class="card-title">Fernet Menta</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Precio: <b>$1800</b></li>
            <li class="list-group-item">Fortificada</li>
            <li class="list-group-item text-center"><a class="btn btn-marron"><i class="fa-solid fa-cart-plus"></i></a></li>
        </ul>
    </div>
    <div class="card m-1">
        <img src="~/img/productos/fernet.jfif" class="card-img-top" alt="Fernet">
        
        <div class="card-body">
            <h5 class="card-title">Fernet</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Precio: <b>$2000</b></li>
            <li class="list-group-item">Fortificada</li>
            <li class="list-group-item text-center"><a class="btn btn-marron"><i class="fa-solid fa-cart-plus"></i></a></li>
        </ul>
    </div>
    <div class="card m-1">
        <img src="~/img/productos/whisky.jfif" class="card-img-top" alt="Whisky WH">
        <div class="card-body">
            <h5 class="card-title">Whisky WH</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Precio: <b>$2500</b></li>
            <li class="list-group-item">Destiladas</li>
            <li class="list-group-item text-center"><a class="btn btn-marron"><i class="fa-solid fa-cart-plus"></i></a></li>
        </ul>
    </div>
    <div class="card m-1">
        <img src="~/img/productos/cerveza.jfif" class="card-img-top" alt="Cerveza Bramia">
        <div class="card-body">
            <h5 class="card-title">Cerveza Bramia</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Precio: <b>$750</b></li>
            <li class="list-group-item">Fermentadas</li>
            <li class="list-group-item text-center"><a class="btn btn-marron"><i class="fa-solid fa-cart-plus"></i></a></li>
        </ul>
    </div>
    <div class="card m-1">
        <img src="~/img/productos/Fernet menta.jfif" class="card-img-top" alt="Fernet Menta">
        <div class="card-body">
            <h5 class="card-title">Fernet Menta</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Precio: <b>$1800</b></li>
            <li class="list-group-item">Fortificada</li>
            <li class="list-group-item text-center"><a class="btn btn-marron"><i class="fa-solid fa-cart-plus"></i></a></li>
        </ul>
    </div>
    <div class="card m-1">
        <img src="~/img/productos/fernet.jfif" class="card-img-top" alt="Fernet">
        
        <div class="card-body">
            <h5 class="card-title">Fernet</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Precio: <b>$2000</b></li>
            <li class="list-group-item">Fortificada</li>
            <li class="list-group-item text-center"><a class="btn btn-marron"><i class="fa-solid fa-cart-plus"></i></a></li>
        </ul>
    </div>
    <div class="card m-1">
        <img src="~/img/productos/whisky.jfif" class="card-img-top" alt="Whisky WH">
        <div class="card-body">
            <h5 class="card-title">Whisky WH</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Precio: <b>$2500</b></li>
            <li class="list-group-item">Destiladas</li>
            <li class="list-group-item text-center"><a class="btn btn-marron"><i class="fa-solid fa-cart-plus"></i></a></li>
        </ul>
    </div>
</div>
