@model IEnumerable<ElRinconDeLaCopa.Models.Producto>

@{
    ViewData["Title"] = "Catalogo";
}
<div class="modal fade" id="ModalCarrito" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 id="h1Producto" class="modal-title fs-5" >C A R R I T O</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="Cart-Contain">
                </div>
                <div id="Total" class="cantidadcarrito" >Total :</div>
            </div>
            <div class="modal-footer">
                <button id="Guardarstock" class="btn botones-modals" onclick="CompletePurchase()">Listo</button>
                <button type="button" class="btn botones-modals" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="Carrito" id="cart">
    <button onclick="MostrarPedido()"><i class="fa-solid fa-cart-shopping"></i>
        <span id="Cart"></span>
    </button>
</div>
<div id="catalogo" class="cards catalogo m-0">
    
</div>
@section Scripts {
    <script src="~/js/catalogo.js"></script>
    <script src="~/js/pedidos.js"></script>
}