
@{
    ViewData["Title"] = "Index";
}
<!-- Modal -->
<div class="modal fade" id="ModalProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 id="h1Producto" class="modal-title fs-5" >Crear Producto</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form-producto" class="form-group" method="post" enctype="multipart/form-data">
                    <input type="Hidden" name="Productoid" type="number" value="0"/>
                    <label class="control-label">Nombre</label>
                    <input class="form-control" placeholder="Nombre" name="Nombre" onkeyup="this.value = this.value.toUpperCase()"/>
                    <span class="text-danger"></span>
                    <label class="control-label">Categoría del Producto</label>
                    @Html.DropDownList("CategoriaID", null, htmlAttributes: new { @class = "form-control"})
                    <label class="control-label">Precio</label>
                    <input type="number" placeholder="Precio" class="form-control" name="Precio">
                    <label class="control-label">Cantidad</label>
                    <input type="number" placeholder="Cantidad" class="form-control" name="Cantidad">
                    <label class="control-label">Imágen</label>
                    <input type="file" accept="image/jpeg" class="form-control" placeholder="Imagen" name="Imagen">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button id="btnCrear" type="button" class="btn btn-crear" onclick="GuardarProducto()"></button>
                <input id="btnEliminarProducto" type="button" onclick="eliminarProducto()" class="btn btn-danger" value="Deshabilitar" />
                <input id="btnHabilitarProducto" type="button" onclick="eliminarProducto()" class="btn btn-success" value="Habilitar" />
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalCarrito" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 id="h1Producto" class="modal-title fs-5" >Carrito🛒</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="Cart-Contain">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="Carrito" id="cart">
    <button onclick="AbrirCarrito()"><i class="fa-solid fa-cart-shopping"></i>
    @if(ViewBag.DetalleCompra != null){
        <span>@ViewBag.DetalleCompra</span>
    }
    </button>
</div>

<h1 class="text-center categoriah1">Productos</h1>
<div class="divcolor container w-90  mt-5 rounded shadow"> 
    <div class="row align-items-stretch justify-content-center box-shadowTable rounded">
        <p class="text-white">
            <button type="button" class="colorh2 box-shadowBtn" onclick="CrearNuevo()">Crear Nuevo</button>
        </p>
        <div class="divtable col bg d-none d-lg-block rounded">
            <table class="table text-white">
                <thead>
                    <tr>
                        <th>
                            Categoria
                        </th>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Precio($ars)
                        </th>
                        <th>
                            Stock
                        </th>
                        <th>
                            Imagen
                        </th>
                    </tr>
                </thead>
                <tbody id="tbody-productos">
                    <h1 id="errorTable"></h1>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/producto.js"></script>
    <script src="~/js/carritoCompra.js"></script>
}