@{
  ViewData["Title"] = "Index";
}
<div class="waviy">
  <span style="--i:1">S</span>
  <span style="--i:2">T</span>
  <span style="--i:3">O</span>
  <span style="--i:4">C</span>
  <span style="--i:5">K</span>
</div>
<div class="divtable col bg  d-lg-block rounded">
  <table class="table text-white">
    <thead>
      <tr>
        <th class="thcat">
          Email usuario
        </th>
        <th>
          Fecha
        </th>
        <th>
          Ingreso / egreso (stock)
        </th>
        <th>
          productos
        </th>
        <th>
          cantidad
        </th>
        <th>
          estado
        </th>
      </tr>
    </thead>
    <tbody id="tbody-Stock">
      <h1 id="errorTable"></h1>
    </tbody>
  </table>
</div>
<div>
  <canvas id="grafico"></canvas>
</div>

@section Scripts {
  <script src="~/lib/chartJS/chart.js"></script>
  <script src="~/js/stock.js"></script>


  <script>

    window.onload = MostrarGrafico();

    var myLineChart; // Declara una variable global para el gráfico

    function MostrarGrafico() {
      //myLineChart.destroy();
      $.ajax({
        url: '../../Stock/Pedidos',
        data: { Mes: 10, Anio: 2023 },
        type: 'GET',
        success: function (pedidosForGraph) {

          let ArregloCantidades = [];
          let ArregloDeDias = [];
             var fondo = [];

          $.each(pedidosForGraph, function (indice, pedido) {
            ArregloDeDias.push(pedido.fechaPedidoString);
            ArregloCantidades.push(pedido.cantidad);

                 var color = colorAleatorio();
                fondo.push(color);
          });

          const ctx = document.getElementById('grafico');
          myLineChart = new Chart(ctx, {
            type: 'bar',
            data: {
              labels: ArregloDeDias,
              datasets: [{
                label: 'Cantidad de productos',
                lineTension: 0.3,
                backgroundColor: fondo,
                borderColor: "rgba(2,117,216,1)",
                pointRadius: 5,
                pointBackgroundColor: "rgba(2,117,216,1)",
                pointBorderColor: "rgba(255,255,255,0.8)",
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(2,117,216,1)",
                pointHitRadius: 50,
                pointBorderWidth: 2,
                data: ArregloCantidades,
              }]
            }

          })
        }
      });
    }

function aleatorio(inferior, superior) {
    let numPosibilidades = superior - inferior;
    let aleatorio = Math.random() * numPosibilidades;
    aleatorio = Math.floor(aleatorio);
    return parseInt(inferior) + aleatorio;
}

function colorAleatorio() {
    let hexadecimal = new Array("0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "A", "B", "C", "D", "E", "F")
    let color_aleatorio = "#";
    for (i = 0; i < 6; i++) {
      let posarray = aleatorio(0, hexadecimal.length)
      color_aleatorio += hexadecimal[posarray]
    }
    return color_aleatorio
}

  </script>
}
