.cards{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-content: center;
}
.ArticuloCategoria{
    background-color: #fff;
    padding: 1rem;
    margin: 1.5rem;
}
.Article{
    display: flex;
    margin-bottom: 20px;
    width: 100%;
}
.Cards{
    display: flex;
    flex-wrap: wrap;
    height: 350px;
    overflow: hidden;
}
.carousel-item{
    margin-right: 0;
}

.catalogo{
    flex-wrap: wrap;
}
.list-group-item{
    background-color: #2d1a16;
    color: white;
}
.btn-marron{
    background-color: #7a5938;
    transition: all .5s ease-in-out;
    color: #2d1a16;
}

.card-body{
    padding: 0;
}
body{
    margin-top: 90px;
}
.btn-marron:hover{
    color: white;
    box-shadow: #caa075;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 20px;
}
.card{
    padding: .2rem;
    margin-top: 0;
    margin-bottom: 50px;
    width: 12rem;
    height: 310px;
    margin-left: 20px!important;
}
.carousel{
    width: 105%;
}
.card-title{
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.card-img-top{
    border-radius: 0px 25px;
    width: 11.5rem;
    height: 150px;
}
.H1Catalogo{
    width: 100%;
}