html{
  background-image: url(../img/red-wine-pouring-from-bottle-glass.width-1920.jpg); 
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover; 
}
body{
  background-color: rgba(127, 255, 212, 0);
}
.footer{
  background-color: rgb(222, 226, 230);
}

.cards{
  margin: 5rem;
  display: flex;
  justify-content: space-between;
}

.card{
  background-color: #af936e;
  border: 1px solid rgb(97 48 41);
  width: 15rem;
  margin-top: 20px;
}
