.form-control{
    margin: 1rem !important;
}
@media (max-width: 610px) {
    .thcat{
        display: none;
    }
  }

.imgPreview{
    width: 202px;
    height: 202px;
    border-radius: 0px 25px;
}
