html {
  font-size: 14px;
}

@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 16px;
  }
  .container, .container-md, .container-sm {
    max-width: 800px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
} 
.navbar-brand img{
  width: 30px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
  display: none;
}